<root>
	<menuitem title="Buy Stuff" 	imageSource="asset:///images/items/pear_peach.png" file="Purchase.qml"/>
	<menuitem title="My Purchases" 	imageSource="asset:///images/items/peach.png" file="GetExisting.qml"/>
	<menuitem title="Get Prices" 	imageSource="asset:///images/items/lasagna.png" file="GetPrice.qml"/>
	<menuitem title="Get Sub Terms"    imageSource="asset:///images/items/sugarcandy.png" file="GetSubTerms.qml"/>
	<menuitem title="Check Subscription" 		imageSource="asset:///images/items/button.png" file="CheckExisting.qml"/>
	<menuitem title="Cancel Subscription" 	    imageSource="asset:///images/items/banana.png" file="CancelSubscription.qml"/>
</root>