# MAC OSX
*.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
 
# Compiled Dynamic libraries
*.so
 
# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Translations
*/translations/*.qm
 
/.settings/
*/arm/
*/x86/
.metadata/*
/.metadata/
192.*
169.254.0.1
#We really want the config.pri to be here a while
#config.pri
/contactlist_v23_2_cpp/.settings/*.prefs
/contactlist_v23_2_cpp/Makefile
/contactlist_v23_2_cpp/arm-p
/contactlist_v23_2_cpp/assets/*.index
/contactlist_v23_2_cpp/*.cproject
/contactlist_v23_2_cpp/.project
/contactlist_v23_2_cpp/precompiled.h
/contactlist_v23_2_cpp/translations
/contactlist_v23_2_cpp/config.pri

/networking_v1.0/translations

/networking_v1.0/arm-p

/networking_v1.0/Makefile

/networking_v1.0/*.cproject

/networking_v1.0/precompiled.h

/networking_v1.0/.settings

/networking_v1.0/*.pri

/networking_v1.0/*.project

/networking_v1.0/assets/*.index
