# MAC OSX
*.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
 
# Compiled Dynamic libraries
*.so
 
# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Translations
*/translations/*.qm
 
*/assets/.assets.index
/.settings/
*/arm/
*/arm/*
*/x86/
*/x86/*
.metadata/*
/.metadata/
192.*
169.254.0.1
#We really want the config.pri to be here a while
#config.pri

# Visual Studio specific files
*.flag
*.sdf
*.suo
*.user
*/installedApps.txt
*/Debug/
*/Device-Debug/
*/Device-Debug/*
